.container {
  display: flex;
  width: 100%;
  height: auto;
}
.c-video {
  display: flex;
  position: relative;
}
.video {
  display: flex;
}
.controls {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.progress-bar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: grey;
}
.progress {
  height: 10px;
  background-color: blue;
}
